source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Logary
nuget NodaTime ~> 1

group Build
    source https://api.nuget.org/v3/index.json
    nuget FAKE
    nuget FSharp.Formatting

group Test
    source https://api.nuget.org/v3/index.json
    nuget FsUnit
    nuget NUnit ~> 2
    nuget NUnit.Runners ~> 2
    nuget NHamcrest
