source https://api.nuget.org/v3/index.json

nuget FSharp.Core

nuget Hopac
github logary/logary src/Logary.Facade/Facade.fs
    
group Build
    source https://api.nuget.org/v3/index.json
    nuget FAKE ~> 4
    nuget FSharp.Formatting
    nuget System.Reflection.Metadata

group Test
    source https://api.nuget.org/v3/index.json
    nuget FsUnit
    nuget NUnit ~> 2
    nuget NUnit.Runners ~> 2
    nuget NHamcrest
